In [114]:
import pandas as pd

In [156]:
df1 = pd.read_csv("~/project/MIMIC-III/Data/DEMOGRAPHIC_DATA_X.csv")
df2 = pd.read_csv("~/project/MIMIC-III/Data/LABORATORY_VALUE_24h.csv")
df3 = pd.read_csv("~/project/MIMIC-III/Data/LABORATORY_VALUE_24h(30%).csv")
df4 = pd.read_csv("~/project/MIMIC-III/Data/LABORATORY_VALUE_24h(50%).csv")
df5 = pd.read_csv("~/project/MIMIC-III/Data/height_weight_0510.csv")
df6 = pd.read_csv("~/project/MIMIC-III/Data/hr_0510.csv")
df7 = pd.read_csv("~/project/MIMIC-III/Data/temp_0510.csv")

In [157]:
df5["weight"] = df5["weight"].fillna(0)
df5["height"] = df5["height"].fillna(0)
df5

       HADM_ID  SUBJECT_ID  weight  height
0       100001       58526   107.0     0.0
1       100009         533   121.1   183.0
2       100010       55853    83.5     0.0
3       100011       87977    76.8     0.0
4       100012       60039    92.5   178.0
...        ...         ...     ...     ...
15931   199967       42131    65.9     0.0
15932   199972       81561    91.6   170.0
15933   199979       41115   108.5   168.0
15934   199984       55617    59.9     0.0
15935   199999       40370    71.5     0.0

[15936 rows x 4 columns]

##### 1. Demo+Lab_24h

In [158]:
df = pd.merge(df1, df2, on=['SUBJECT_ID', 'HADM_ID'], how='right')
df = pd.merge(df, df5, on=['SUBJECT_ID', 'HADM_ID'], how='left')
df = pd.merge(df, df6, on=['SUBJECT_ID', 'HADM_ID'], how='left')
df = pd.merge(df, df7, on=['SUBJECT_ID', 'HADM_ID'], how='left')
df["BMI"] = df["weight"]/(df['height']**2)
df

,SUBJECT_ID,HADM_ID,ETHNICITY,GENDER,AGE,LOS,TLOS,HOSPITAL_EXPIRE_FLAG,DOA,Hematocrit,...,Phosphate,INR(PT),PT,weight,height,hr_min,hr_mean,hr_max,Temperate,BMI
0,36,165660,WHITE,M,72,4.3483,10 days 01:46:00,0,NaN,41.850000,...,3.350000,0.000000,0.000000,105.3,180.0,67.0,85.0,105.0,NaN,0.003250
1,91,121205,WHITE,F,81,3.9715,17 days 15:08:00,1,17 days 15:08:00,36.700000,...,3.500000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,37.444401,NaN
2,94,140037,ASIAN,M,75,22.8977,22 days 22:53:00,0,NaN,35.900000,...,2.700000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,36.111099,NaN
3,101,175533,ASIAN,M,82,9.8919,15 days 18:41:00,1,15 days 18:41:00,34.133333,...,4.400000,1.250000,13.400000,NaN,NaN,NaN,NaN,NaN,36.888901,NaN
4,111,192123,WHITE,F,66,10.5708,11 days 04:50:00,0,NaN,41.700000,...,4.050000,0.666667,11.800000,NaN,NaN,NaN,NaN,NaN,35.611099,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7579,99897,181057,BLACK/HAITIAN,M,54,0.8342,5 days 00:02:00,0,NaN,31.250000,...,2.575000,0.000000,0.000000,NaN,NaN,67.0,74.0,95.0,NaN,NaN
7580,99899,188409,BLACK/AFRICAN AMERICAN,M,87,9.1439,9 days 01:34:00,1,9 days 01:34:00,20.050000,...,3.500000,1.200000,13.700000,0.0,155.0,25.0,72.0,135.0,NaN,0.000000
7581,99912,189380,WHITE,M,84,12.0867,13 days 21:35:00,0,NaN,37.600000,...,3.400000,1.133333,13.266667,80.0,175.0,69.0,92.0,123.0,NaN,0.002612
7582,99939,159023,HISPANIC OR LATINO,M,26,2.8780,11 days 10:59:00,0,NaN,22.220000,...,8.466667,1.125000,13.200000,NaN,NaN,60.0,86.0,113.0,NaN,NaN
7583,99985,176670,WHITE,M,53,11.2998,16 days 14:18:00,0,NaN,37.000000,...,2.900000,0.000000,0.000000,0.0,180.0,71.0,91.0,122.0,NaN,0.000000

In [159]:
# target_col 칼럼의 인덱스 번호를 구합니다.
Y = df.columns.get_loc('HOSPITAL_EXPIRE_FLAG')

# 칼럼을 임시 리스트에 저장합니다.
cols = df.columns.tolist()

# target_col 칼럼을 마지막으로 이동합니다.
cols = cols[:Y] + cols[Y+1:] + [cols[Y]]

# 변경된 칼럼 리스트를 DataFrame에 적용합니다.
df = df[cols]

x = df["weight"].isnull().sum()
print(x/7584)
x = df["height"].isnull().sum()
print(x/7584)
x = df["hr_min"].isnull().sum()
print(x/7584)
x = df["hr_mean"].isnull().sum()
print(x/7584)
x = df["hr_max"].isnull().sum()
print(x/7584)
x = df["Temperate"].isnull().sum()
print(x/7584)
x = df["BMI"].isnull().sum()
print(x/7584)


df["height"] = df["height"].fillna(0)
df["weight"] = df["weight"].fillna(0)
df["hr_min"] = df["hr_min"].fillna(0)
df["hr_max"] = df["hr_max"].fillna(0)
df["hr_mean"] = df["hr_mean"].fillna(0)
df["Temperate"] = df["Temperate"].fillna(0)
df["BMI"] = df["BMI"].fillna(0)

# df.to_csv("~/project/MIMIC-III/Data/Demo+Lab_24h.csv", index=False)
df

0.5908491561181435
0.5908491561181435
0.5104166666666666
0.5104166666666666
0.5104166666666666
0.5025052742616034
0.5912447257383966

,SUBJECT_ID,HADM_ID,ETHNICITY,GENDER,AGE,LOS,TLOS,DOA,Hematocrit,Creatinine,...,INR(PT),PT,weight,height,hr_min,hr_mean,hr_max,Temperate,BMI,HOSPITAL_EXPIRE_FLAG
0,36,165660,WHITE,M,72,4.3483,10 days 01:46:00,NaN,41.850000,1.100,...,0.000000,0.000000,105.3,180.0,67.0,85.0,105.0,0.000000,0.003250,0
1,91,121205,WHITE,F,81,3.9715,17 days 15:08:00,17 days 15:08:00,36.700000,0.750,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,37.444401,0.000000,1
2,94,140037,ASIAN,M,75,22.8977,22 days 22:53:00,NaN,35.900000,0.250,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,36.111099,0.000000,0
3,101,175533,ASIAN,M,82,9.8919,15 days 18:41:00,15 days 18:41:00,34.133333,0.925,...,1.250000,13.400000,0.0,0.0,0.0,0.0,0.0,36.888901,0.000000,1
4,111,192123,WHITE,F,66,10.5708,11 days 04:50:00,NaN,41.700000,0.600,...,0.666667,11.800000,0.0,0.0,0.0,0.0,0.0,35.611099,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7579,99897,181057,BLACK/HAITIAN,M,54,0.8342,5 days 00:02:00,NaN,31.250000,5.450,...,0.000000,0.000000,0.0,0.0,67.0,74.0,95.0,0.000000,0.000000,0
7580,99899,188409,BLACK/AFRICAN AMERICAN,M,87,9.1439,9 days 01:34:00,9 days 01:34:00,20.050000,1.700,...,1.200000,13.700000,0.0,155.0,25.0,72.0,135.0,0.000000,0.000000,1
7581,99912,189380,WHITE,M,84,12.0867,13 days 21:35:00,NaN,37.600000,1.025,...,1.133333,13.266667,80.0,175.0,69.0,92.0,123.0,0.000000,0.002612,0
7582,99939,159023,HISPANIC OR LATINO,M,26,2.8780,11 days 10:59:00,NaN,22.220000,20.200,...,1.125000,13.200000,0.0,0.0,60.0,86.0,113.0,0.000000,0.000000,0
7583,99985,176670,WHITE,M,53,11.2998,16 days 14:18:00,NaN,37.000000,1.200,...,0.000000,0.000000,0.0,180.0,71.0,91.0,122.0,0.000000,0.000000,0

In [131]:
x = df["weight"].isnull.sum()
print(x/7584)
x = df["height"].isnull().sum()
print(x/7584)
x = df["hr_min"].isnull().sum()
print(x/7584)
x = df["hr_mean"].isnull().sum()
print(x/7584)
x = df["hr_max"].isnull().sum()
print(x/7584)
x = df["Temperate"].isnull().sum()
print(x/7584)

AttributeError: Can only use .str accessor with string values!

##### 2. Demo+Lab_24h(30%)

In [160]:
df = pd.merge(df1, df3, on=['SUBJECT_ID', 'HADM_ID'], how='right')
df = pd.merge(df, df5, on=['SUBJECT_ID', 'HADM_ID'], how='left')
df = pd.merge(df, df6, on=['SUBJECT_ID', 'HADM_ID'], how='left')
df = pd.merge(df, df7, on=['SUBJECT_ID', 'HADM_ID'], how='left')
df["BMI"] = df["weight"]/(df['height']**2)
df

,SUBJECT_ID,HADM_ID,ETHNICITY,GENDER,AGE,LOS,TLOS,HOSPITAL_EXPIRE_FLAG,DOA,Hematocrit,...,Calculated Total CO2,pO2,pCO2,weight,height,hr_min,hr_mean,hr_max,Temperate,BMI
0,36,165660,WHITE,M,72,4.3483,10 days 01:46:00,0,NaN,41.850000,...,28.000000,59.000000,50.000000,105.3,180.0,67.0,85.0,105.0,NaN,0.003250
1,91,121205,WHITE,F,81,3.9715,17 days 15:08:00,1,17 days 15:08:00,36.700000,...,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,37.444401,NaN
2,94,140037,ASIAN,M,75,22.8977,22 days 22:53:00,0,NaN,35.900000,...,44.285714,150.571429,70.857143,NaN,NaN,NaN,NaN,NaN,36.111099,NaN
3,101,175533,ASIAN,M,82,9.8919,15 days 18:41:00,1,15 days 18:41:00,34.133333,...,16.750000,132.250000,34.500000,NaN,NaN,NaN,NaN,NaN,36.888901,NaN
4,111,192123,WHITE,F,66,10.5708,11 days 04:50:00,0,NaN,41.700000,...,25.333333,153.222222,56.444444,NaN,NaN,NaN,NaN,NaN,35.611099,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7579,99897,181057,BLACK/HAITIAN,M,54,0.8342,5 days 00:02:00,0,NaN,31.250000,...,28.000000,58.000000,48.000000,NaN,NaN,67.0,74.0,95.0,NaN,NaN
7580,99899,188409,BLACK/AFRICAN AMERICAN,M,87,9.1439,9 days 01:34:00,1,9 days 01:34:00,20.050000,...,23.000000,211.500000,39.500000,0.0,155.0,25.0,72.0,135.0,NaN,0.000000
7581,99912,189380,WHITE,M,84,12.0867,13 days 21:35:00,0,NaN,37.600000,...,20.500000,97.500000,40.000000,80.0,175.0,69.0,92.0,123.0,NaN,0.002612
7582,99939,159023,HISPANIC OR LATINO,M,26,2.8780,11 days 10:59:00,0,NaN,22.220000,...,23.833333,134.000000,38.833333,NaN,NaN,60.0,86.0,113.0,NaN,NaN
7583,99985,176670,WHITE,M,53,11.2998,16 days 14:18:00,0,NaN,37.000000,...,0.000000,0.000000,0.000000,0.0,180.0,71.0,91.0,122.0,NaN,0.000000

In [164]:
# target_col 칼럼의 인덱스 번호를 구합니다.
Y = df.columns.get_loc('HOSPITAL_EXPIRE_FLAG')

# 칼럼을 임시 리스트에 저장합니다.
cols = df.columns.tolist()

# target_col 칼럼을 마지막으로 이동합니다.
cols = cols[:Y] + cols[Y+1:] + [cols[Y]]

# 변경된 칼럼 리스트를 DataFrame에 적용합니다.
df = df[cols]

x = df["weight"].isnull().sum()
print(x/7584)
x = df["height"].isnull().sum()
print(x/7584)
x = df["hr_min"].isnull().sum()
print(x/7584)
x = df["hr_mean"].isnull().sum()
print(x/7584)
x = df["hr_max"].isnull().sum()
print(x/7584)
x = df["Temperate"].isnull().sum()
print(x/7584)
x = df["BMI"].isnull().sum()
print(x/7584)


df["height"] = df["height"].fillna(0)
df["weight"] = df["weight"].fillna(0)
df["hr_min"] = df["hr_min"].fillna(0)
df["hr_max"] = df["hr_max"].fillna(0)
df["hr_mean"] = df["hr_mean"].fillna(0)
df["Temperate"] = df["Temperate"].fillna(0)
df["BMI"] = df["BMI"].fillna(0)

df

# df.to_csv("~/project/MIMIC-III/Data/Demo+Lab_24h(30%).csv", index=False)

0.0
0.0
0.0
0.0
0.0
0.0
0.0

,SUBJECT_ID,HADM_ID,ETHNICITY,GENDER,AGE,LOS,TLOS,DOA,Hematocrit,Creatinine,...,pO2,pCO2,weight,height,hr_min,hr_mean,hr_max,Temperate,BMI,HOSPITAL_EXPIRE_FLAG
0,36,165660,WHITE,M,72,4.3483,10 days 01:46:00,NaN,41.850000,1.100,...,59.000000,50.000000,105.3,180.0,67.0,85.0,105.0,0.000000,0.003250,0
1,91,121205,WHITE,F,81,3.9715,17 days 15:08:00,17 days 15:08:00,36.700000,0.750,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,37.444401,0.000000,1
2,94,140037,ASIAN,M,75,22.8977,22 days 22:53:00,NaN,35.900000,0.250,...,150.571429,70.857143,0.0,0.0,0.0,0.0,0.0,36.111099,0.000000,0
3,101,175533,ASIAN,M,82,9.8919,15 days 18:41:00,15 days 18:41:00,34.133333,0.925,...,132.250000,34.500000,0.0,0.0,0.0,0.0,0.0,36.888901,0.000000,1
4,111,192123,WHITE,F,66,10.5708,11 days 04:50:00,NaN,41.700000,0.600,...,153.222222,56.444444,0.0,0.0,0.0,0.0,0.0,35.611099,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7579,99897,181057,BLACK/HAITIAN,M,54,0.8342,5 days 00:02:00,NaN,31.250000,5.450,...,58.000000,48.000000,0.0,0.0,67.0,74.0,95.0,0.000000,0.000000,0
7580,99899,188409,BLACK/AFRICAN AMERICAN,M,87,9.1439,9 days 01:34:00,9 days 01:34:00,20.050000,1.700,...,211.500000,39.500000,0.0,155.0,25.0,72.0,135.0,0.000000,0.000000,1
7581,99912,189380,WHITE,M,84,12.0867,13 days 21:35:00,NaN,37.600000,1.025,...,97.500000,40.000000,80.0,175.0,69.0,92.0,123.0,0.000000,0.002612,0
7582,99939,159023,HISPANIC OR LATINO,M,26,2.8780,11 days 10:59:00,NaN,22.220000,20.200,...,134.000000,38.833333,0.0,0.0,60.0,86.0,113.0,0.000000,0.000000,0
7583,99985,176670,WHITE,M,53,11.2998,16 days 14:18:00,NaN,37.000000,1.200,...,0.000000,0.000000,0.0,180.0,71.0,91.0,122.0,0.000000,0.000000,0

##### 3. Demo_lab_24h(50%)

In [165]:
df = pd.merge(df1, df4, on=['SUBJECT_ID', 'HADM_ID'], how='right')
df = pd.merge(df, df5, on=['SUBJECT_ID', 'HADM_ID'], how='left')
df = pd.merge(df, df6, on=['SUBJECT_ID', 'HADM_ID'], how='left')
df = pd.merge(df, df7, on=['SUBJECT_ID', 'HADM_ID'], how='left')
df["BMI"] = df["weight"]/(df['height']**2)
df

,SUBJECT_ID,HADM_ID,ETHNICITY,GENDER,AGE,LOS,TLOS,HOSPITAL_EXPIRE_FLAG,DOA,Hematocrit,...,Lactate,Base Excess,Albumin,weight,height,hr_min,hr_mean,hr_max,Temperate,BMI
0,36,165660,WHITE,M,72,4.3483,10 days 01:46:00,0,NaN,41.850000,...,0.000000,0.000000,0.0,105.3,180.0,67.0,85.0,105.0,NaN,0.003250
1,91,121205,WHITE,F,81,3.9715,17 days 15:08:00,1,17 days 15:08:00,36.700000,...,0.000000,0.000000,2.6,NaN,NaN,NaN,NaN,NaN,37.444401,NaN
2,94,140037,ASIAN,M,75,22.8977,22 days 22:53:00,0,NaN,35.900000,...,1.466667,14.000000,0.0,NaN,NaN,NaN,NaN,NaN,36.111099,NaN
3,101,175533,ASIAN,M,82,9.8919,15 days 18:41:00,1,15 days 18:41:00,34.133333,...,5.825000,-9.000000,0.0,NaN,NaN,NaN,NaN,NaN,36.888901,NaN
4,111,192123,WHITE,F,66,10.5708,11 days 04:50:00,0,NaN,41.700000,...,1.100000,-3.444444,0.0,NaN,NaN,NaN,NaN,NaN,35.611099,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7579,99897,181057,BLACK/HAITIAN,M,54,0.8342,5 days 00:02:00,0,NaN,31.250000,...,1.400000,0.000000,0.0,NaN,NaN,67.0,74.0,95.0,NaN,NaN
7580,99899,188409,BLACK/AFRICAN AMERICAN,M,87,9.1439,9 days 01:34:00,1,9 days 01:34:00,20.050000,...,1.800000,-3.000000,2.9,0.0,155.0,25.0,72.0,135.0,NaN,0.000000
7581,99912,189380,WHITE,M,84,12.0867,13 days 21:35:00,0,NaN,37.600000,...,3.233333,-5.666667,0.0,80.0,175.0,69.0,92.0,123.0,NaN,0.002612
7582,99939,159023,HISPANIC OR LATINO,M,26,2.8780,11 days 10:59:00,0,NaN,22.220000,...,1.400000,-1.333333,3.2,NaN,NaN,60.0,86.0,113.0,NaN,NaN
7583,99985,176670,WHITE,M,53,11.2998,16 days 14:18:00,0,NaN,37.000000,...,1.900000,0.000000,0.0,0.0,180.0,71.0,91.0,122.0,NaN,0.000000

In [167]:
# target_col 칼럼의 인덱스 번호를 구합니다.
Y = df.columns.get_loc('HOSPITAL_EXPIRE_FLAG')

# 칼럼을 임시 리스트에 저장합니다.
cols = df.columns.tolist()

# target_col 칼럼을 마지막으로 이동합니다.
cols = cols[:Y] + cols[Y+1:] + [cols[Y]]

# 변경된 칼럼 리스트를 DataFrame에 적용합니다.
df = df[cols]

x = df["weight"].isnull().sum()
print(x/7584)
x = df["height"].isnull().sum()
print(x/7584)
x = df["hr_min"].isnull().sum()
print(x/7584)
x = df["hr_mean"].isnull().sum()
print(x/7584)
x = df["hr_max"].isnull().sum()
print(x/7584)
x = df["Temperate"].isnull().sum()
print(x/7584)
x = df["BMI"].isnull().sum()
print(x/7584)


df["height"] = df["height"].fillna(0)
df["weight"] = df["weight"].fillna(0)
df["hr_min"] = df["hr_min"].fillna(0)
df["hr_max"] = df["hr_max"].fillna(0)
df["hr_mean"] = df["hr_mean"].fillna(0)
df["Temperate"] = df["Temperate"].fillna(0)
df["BMI"] = df["BMI"].fillna(0)

df

# df.to_csv("~/project/MIMIC-III/Data/Demo+Lab_24h(50%).csv", index=False)

0.0
0.0
0.0
0.0
0.0
0.0
0.0

,SUBJECT_ID,HADM_ID,ETHNICITY,GENDER,AGE,LOS,TLOS,DOA,Hematocrit,Creatinine,...,Base Excess,Albumin,weight,height,hr_min,hr_mean,hr_max,Temperate,BMI,HOSPITAL_EXPIRE_FLAG
0,36,165660,WHITE,M,72,4.3483,10 days 01:46:00,NaN,41.850000,1.100,...,0.000000,0.0,105.3,180.0,67.0,85.0,105.0,0.000000,0.003250,0
1,91,121205,WHITE,F,81,3.9715,17 days 15:08:00,17 days 15:08:00,36.700000,0.750,...,0.000000,2.6,0.0,0.0,0.0,0.0,0.0,37.444401,0.000000,1
2,94,140037,ASIAN,M,75,22.8977,22 days 22:53:00,NaN,35.900000,0.250,...,14.000000,0.0,0.0,0.0,0.0,0.0,0.0,36.111099,0.000000,0
3,101,175533,ASIAN,M,82,9.8919,15 days 18:41:00,15 days 18:41:00,34.133333,0.925,...,-9.000000,0.0,0.0,0.0,0.0,0.0,0.0,36.888901,0.000000,1
4,111,192123,WHITE,F,66,10.5708,11 days 04:50:00,NaN,41.700000,0.600,...,-3.444444,0.0,0.0,0.0,0.0,0.0,0.0,35.611099,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7579,99897,181057,BLACK/HAITIAN,M,54,0.8342,5 days 00:02:00,NaN,31.250000,5.450,...,0.000000,0.0,0.0,0.0,67.0,74.0,95.0,0.000000,0.000000,0
7580,99899,188409,BLACK/AFRICAN AMERICAN,M,87,9.1439,9 days 01:34:00,9 days 01:34:00,20.050000,1.700,...,-3.000000,2.9,0.0,155.0,25.0,72.0,135.0,0.000000,0.000000,1
7581,99912,189380,WHITE,M,84,12.0867,13 days 21:35:00,NaN,37.600000,1.025,...,-5.666667,0.0,80.0,175.0,69.0,92.0,123.0,0.000000,0.002612,0
7582,99939,159023,HISPANIC OR LATINO,M,26,2.8780,11 days 10:59:00,NaN,22.220000,20.200,...,-1.333333,3.2,0.0,0.0,60.0,86.0,113.0,0.000000,0.000000,0
7583,99985,176670,WHITE,M,53,11.2998,16 days 14:18:00,NaN,37.000000,1.200,...,0.000000,0.0,0.0,180.0,71.0,91.0,122.0,0.000000,0.000000,0