In [2]:
import pandas as pd

In [23]:
df = pd.read_csv("~/project/MIMIC-III/Data/FINAL/Past/Demo/DEMOGRAPHIC_DATA_X.csv")
df1 = pd.read_csv("~/project/MIMIC-III/Data/FINAL/FINAL_LAB/Numeric/Final_lab(100%)_mean.csv")
df2 = pd.read_csv("~/project/MIMIC-III/Data/FINAL/FINAL_LAB/Numeric/Final_lab(100%)_max.csv")
df3 = pd.read_csv("~/project/MIMIC-III/Data/FINAL/FINAL_LAB/Numeric/Final_lab(100%)_min.csv")
ARDS = pd.read_csv("~/project/MIMIC-III/Data/OI&OSI/new_OI&OSI(down).csv")
ARDS = ARDS[["SUBJECT_ID", "HADM_ID", "y"]]

In [24]:
# 각 데이터프레임의 칼럼 이름 뒤에 "_mean", "_max", "_min"을 추가
df1.columns = [col + "_mean" for col in df1.columns]
df2.columns = [col + "_max" for col in df2.columns]
df3.columns = [col + "_min" for col in df3.columns]

# 데이터프레임 병합 (기준은 공통 칼럼을 사용하면 됩니다)
df4 = pd.concat([df1, df2, df3], axis=1)

# 겹치는 칼럼 삭제 및 통합
df4.drop(columns=["SUBJECT_ID_max", "HADM_ID_max", "SUBJECT_ID_min", "HADM_ID_min"], inplace=True)
df4.rename(columns={"SUBJECT_ID_mean": "SUBJECT_ID", "HADM_ID_mean": "HADM_ID"}, inplace=True)
df4

,SUBJECT_ID,HADM_ID,Creatinine_mean,Urea Nitrogen_mean,Hematocrit_mean,Platelet Count_mean,Potassium_mean,Chloride_mean,Bicarbonate_mean,Sodium_mean,...,Atypical Lymphocytes.4_min,Factor VIII_min,Basophils.2_min,Factor V_min,Antithrombin_min,Anticardiolipin Antibody IgM_min,Anticardiolipin Antibody IgG_min,Plasma.1_min,Mesothelial Cells.1_min,"Amylase, Urine_min"
0,101,175533,0.925000,16.000000,34.133333,223.666667,4.100000,112.250000,14.750000,143.000000,...,1.0,44.0,1.0,90.0,55.0,5.1,1.9,2.0,5.0,104.0
1,111,192123,0.600000,12.500000,41.700000,145.500000,4.100000,107.000000,24.000000,141.000000,...,1.0,44.0,1.0,90.0,55.0,5.1,1.9,2.0,5.0,104.0
2,141,168006,1.466667,29.166667,21.280000,80.400000,4.483333,105.333333,16.666667,139.666667,...,1.0,44.0,1.0,90.0,55.0,5.1,1.9,2.0,5.0,104.0
3,148,199488,1.000000,23.000000,24.450000,29.500000,3.950000,107.500000,21.500000,142.000000,...,1.0,44.0,1.0,90.0,55.0,5.1,1.9,2.0,5.0,104.0
4,170,175350,0.700000,14.000000,32.450000,252.000000,3.900000,108.000000,24.500000,142.500000,...,1.0,44.0,1.0,90.0,55.0,5.1,1.9,2.0,5.0,104.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2277,32763,160695,1.400000,35.000000,30.200000,181.000000,4.500000,98.000000,24.000000,133.000000,...,1.0,44.0,1.0,90.0,55.0,5.1,1.9,2.0,5.0,104.0
2278,32779,133757,1.466667,30.333333,29.100000,239.333333,4.733333,114.666667,19.333333,144.666667,...,1.0,44.0,1.0,90.0,55.0,5.1,1.9,2.0,5.0,104.0
2279,32781,142684,2.025000,29.250000,29.933333,119.000000,4.280000,112.000000,14.750000,140.250000,...,1.0,44.0,1.0,90.0,55.0,5.1,1.9,2.0,5.0,104.0
2280,32786,165351,1.033333,15.666667,39.666667,340.333333,4.500000,104.666667,22.333333,139.000000,...,1.0,44.0,1.0,90.0,55.0,5.1,1.9,2.0,5.0,104.0
2281,32800,179038,1.233333,23.000000,31.625000,161.250000,3.050000,108.500000,10.000000,141.000000,...,1.0,44.0,1.0,90.0,55.0,5.1,1.9,2.0,5.0,104.0

In [25]:
# SUBJECT_ID와 HADM_ID를 기준으로 데이터프레임 병합
df5 = pd.merge(df, df4, on=['SUBJECT_ID', 'HADM_ID'], how='inner')

# ARDS Label로 변경
df5.drop(columns=['y'], inplace=True)
# df5와 ARDS 데이터프레임을 SUBJECT_ID와 HADM_ID를 기준으로 병합
merged_df = df5.merge(ARDS, on=['SUBJECT_ID', 'HADM_ID'], how='left')
merged_df

,SUBJECT_ID,HADM_ID,TLOS,AGE,DOA,ETHNICITY,GENDER,LOS,Creatinine_mean,Urea Nitrogen_mean,...,Factor VIII_min,Basophils.2_min,Factor V_min,Antithrombin_min,Anticardiolipin Antibody IgM_min,Anticardiolipin Antibody IgG_min,Plasma.1_min,Mesothelial Cells.1_min,"Amylase, Urine_min",y
0,101,175533,15 days 18:41:00,82,15 days 18:41:00,ASIAN,M,9.8919,0.925000,16.000000,...,44.0,1.0,90.0,55.0,5.1,1.9,2.0,5.0,104.0,1
1,111,192123,11 days 04:50:00,66,NaN,WHITE,F,10.5708,0.600000,12.500000,...,44.0,1.0,90.0,55.0,5.1,1.9,2.0,5.0,104.0,0
2,141,168006,3 days 09:29:00,80,3 days 09:29:00,OTHER,M,3.4765,1.466667,29.166667,...,44.0,1.0,90.0,55.0,5.1,1.9,2.0,5.0,104.0,1
3,148,199488,32 days 22:37:00,78,NaN,UNKNOWN/NOT SPECIFIED,F,15.2614,1.000000,23.000000,...,44.0,1.0,90.0,55.0,5.1,1.9,2.0,5.0,104.0,0
4,170,175350,4 days 00:00:00,71,NaN,WHITE,F,3.7791,0.700000,14.000000,...,44.0,1.0,90.0,55.0,5.1,1.9,2.0,5.0,104.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2277,32763,160695,33 days 20:31:00,79,33 days 20:31:00,WHITE,M,31.0886,1.400000,35.000000,...,44.0,1.0,90.0,55.0,5.1,1.9,2.0,5.0,104.0,1
2278,32779,133757,6 days 14:39:00,69,6 days 14:39:00,WHITE,F,7.1648,1.466667,30.333333,...,44.0,1.0,90.0,55.0,5.1,1.9,2.0,5.0,104.0,1
2279,32781,142684,22 days 14:41:00,86,NaN,WHITE,M,9.8333,2.025000,29.250000,...,44.0,1.0,90.0,55.0,5.1,1.9,2.0,5.0,104.0,0
2280,32786,165351,22 days 14:34:00,53,NaN,WHITE,M,22.6358,1.033333,15.666667,...,44.0,1.0,90.0,55.0,5.1,1.9,2.0,5.0,104.0,0
2281,32800,179038,9 days 16:07:00,60,NaN,UNKNOWN/NOT SPECIFIED,F,2.0783,1.233333,23.000000,...,44.0,1.0,90.0,55.0,5.1,1.9,2.0,5.0,104.0,0

In [26]:
# 병합된 데이터프레임을 CSV 파일로 저장
merged_df.to_csv("~/project/MIMIC-III/Data/FINAL/FINAL_Demo+LAB/FINAL_Demo_Lab(100%).csv", index=False)