In [1]:
import pandas as pd

In [16]:
df = pd.read_csv("~/project/MIMIC-III/Data/FINAL/Demo/DEMOGRAPHIC_DATA_X.csv")
df1 = pd.read_csv("~/project/MIMIC-III/Data/FINAL/New_Lab/LABORATORY_VALUE_24h(50%)_mean.csv")
df2 = pd.read_csv("~/project/MIMIC-III/Data/FINAL/New_Lab/LABORATORY_VALUE_24h(50%)_max.csv")
df3 = pd.read_csv("~/project/MIMIC-III/Data/FINAL/New_Lab/LABORATORY_VALUE_24h(50%)_min.csv")
ARDS = pd.read_csv("~/project/MIMIC-III/ARDS.csv")

In [17]:
# 각 데이터프레임의 칼럼 이름 뒤에 "_mean", "_max", "_min"을 추가
df1.columns = [col + "_mean" for col in df1.columns]
df2.columns = [col + "_max" for col in df2.columns]
df3.columns = [col + "_min" for col in df3.columns]

# 데이터프레임 병합 (기준은 공통 칼럼을 사용하면 됩니다)
df4 = pd.concat([df1, df2, df3], axis=1)

# 겹치는 칼럼 삭제 및 통합
df4.drop(columns=["SUBJECT_ID_max", "HADM_ID_max", "SUBJECT_ID_min", "HADM_ID_min"], inplace=True)
df4.rename(columns={"SUBJECT_ID_mean": "SUBJECT_ID", "HADM_ID_mean": "HADM_ID"}, inplace=True)
df4

,SUBJECT_ID,HADM_ID,Creatinine_mean,Urea Nitrogen_mean,Hematocrit_mean,Platelet Count_mean,White Blood Cells_mean,Hemoglobin_mean,MCHC_mean,Red Blood Cells_mean,...,Specific Gravity_min,Alanine Aminotransferase (ALT)_min,Asparate Aminotransferase (AST)_min,"Bilirubin, Total_min",Alkaline Phosphatase_min,Base Excess_min,Creatine Kinase (CK)_min,Albumin_min,Eosinophils_min,Basophils_min
0,91,121205,0.750000,19.500000,36.700000,381.000000,11.200000,11.500000,31.250000,4.470,...,0.000,33.0,124.0,0.5,184.0,0.0,0.0,2.6,0.0,0.0
1,101,175533,0.925000,16.000000,34.133333,223.666667,12.000000,11.166667,32.666667,3.480,...,1.020,46.0,59.0,0.4,71.0,-12.0,117.0,0.0,0.5,0.5
2,111,192123,0.600000,12.500000,41.700000,145.500000,11.800000,14.350000,34.400000,4.645,...,1.020,0.0,0.0,0.0,0.0,-5.0,123.0,0.0,0.0,0.0
3,141,168006,1.466667,29.166667,21.280000,80.400000,7.740000,6.340000,30.040000,2.786,...,0.000,33.0,93.0,0.4,63.0,-13.0,2135.0,3.3,1.0,1.0
4,148,199488,1.000000,23.000000,24.450000,29.500000,15.300000,8.000000,32.750000,2.650,...,1.010,24.0,22.0,0.8,58.0,0.0,43.0,3.7,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5883,99881,172327,3.133333,82.000000,23.675000,240.333333,14.133333,7.300000,31.333333,2.500,...,1.010,19.0,34.0,0.4,53.0,-3.0,175.0,3.2,0.0,0.0
5884,99899,188409,1.700000,41.500000,20.050000,227.500000,12.350000,6.600000,33.050000,2.810,...,1.013,12.0,28.0,0.3,214.0,-6.0,111.0,2.9,0.0,0.0
5885,99912,189380,1.025000,22.250000,37.600000,208.000000,4.000000,12.233333,32.566667,4.020,...,1.038,18.0,37.0,0.6,41.0,-6.0,115.0,0.0,0.0,0.0
5886,99939,159023,20.200000,148.666667,22.220000,100.600000,9.450000,7.850000,35.550000,2.635,...,1.012,18.0,16.0,0.6,65.0,-3.0,476.0,3.2,0.6,0.0
5887,99985,176670,1.200000,18.000000,37.000000,349.000000,15.450000,12.650000,34.300000,4.245,...,1.020,96.0,92.0,0.5,127.0,0.0,0.0,0.0,0.2,0.2

In [19]:
# SUBJECT_ID와 HADM_ID를 기준으로 데이터프레임 병합
df5 = pd.merge(df, df4, on=['SUBJECT_ID', 'HADM_ID'], how='inner')
df5
# # ARDS Label로 변경
# df5.drop(columns=['y'], inplace=True)

# # df5와 ARDS 데이터프레임을 SUBJECT_ID와 HADM_ID를 기준으로 병합
# merged_df = df4.merge(ARDS, on=['SUBJECT_ID', 'HADM_ID'], how='left')
# merged_df

,SUBJECT_ID,HADM_ID,TLOS,AGE,DOA,ETHNICITY,y,GENDER,LOS,Creatinine_mean,...,Specific Gravity_min,Alanine Aminotransferase (ALT)_min,Asparate Aminotransferase (AST)_min,"Bilirubin, Total_min",Alkaline Phosphatase_min,Base Excess_min,Creatine Kinase (CK)_min,Albumin_min,Eosinophils_min,Basophils_min
0,91,121205,17 days 15:08:00,81,17 days 15:08:00,WHITE,1,F,3.9715,0.750000,...,0.000,33.0,124.0,0.5,184.0,0.0,0.0,2.6,0.0,0.0
1,101,175533,15 days 18:41:00,82,15 days 18:41:00,ASIAN,1,M,9.8919,0.925000,...,1.020,46.0,59.0,0.4,71.0,-12.0,117.0,0.0,0.5,0.5
2,111,192123,11 days 04:50:00,66,NaN,WHITE,0,F,10.5708,0.600000,...,1.020,0.0,0.0,0.0,0.0,-5.0,123.0,0.0,0.0,0.0
3,141,168006,3 days 09:29:00,80,3 days 09:29:00,OTHER,1,M,3.4765,1.466667,...,0.000,33.0,93.0,0.4,63.0,-13.0,2135.0,3.3,1.0,1.0
4,148,199488,32 days 22:37:00,78,NaN,UNKNOWN/NOT SPECIFIED,0,F,15.2614,1.000000,...,1.010,24.0,22.0,0.8,58.0,0.0,43.0,3.7,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5883,99881,172327,2 days 03:27:00,77,2 days 03:27:00,WHITE,1,M,2.1914,3.133333,...,1.010,19.0,34.0,0.4,53.0,-3.0,175.0,3.2,0.0,0.0
5884,99899,188409,9 days 01:34:00,87,9 days 01:34:00,BLACK/AFRICAN AMERICAN,1,M,9.1439,1.700000,...,1.013,12.0,28.0,0.3,214.0,-6.0,111.0,2.9,0.0,0.0
5885,99912,189380,13 days 21:35:00,84,NaN,WHITE,0,M,12.0867,1.025000,...,1.038,18.0,37.0,0.6,41.0,-6.0,115.0,0.0,0.0,0.0
5886,99939,159023,11 days 10:59:00,26,NaN,HISPANIC OR LATINO,0,M,2.8780,20.200000,...,1.012,18.0,16.0,0.6,65.0,-3.0,476.0,3.2,0.6,0.0
5887,99985,176670,16 days 14:18:00,53,NaN,WHITE,0,M,11.2998,1.200000,...,1.020,96.0,92.0,0.5,127.0,0.0,0.0,0.0,0.2,0.2

In [ ]:
# 병합된 데이터프레임을 CSV 파일로 저장
merged_df.to_csv("~/project/MIMIC-III/Data/FINAL/New_Demo+Lab/Demo_Lab(50%).csv", index=False)