In [165]:
import pandas as pd

#### 0. base 작업
-> LABEVENTS, OUTPUTEVENTS, MICROBIOLOGYEVENTS table에서 필요한 ITEM을 추출하기 위해 D_ITEMS table에서 Respiratory 관련 ITEMID 선정(총 140개)

D_ITEMS Table Column 설명
 - ROW_ID: 해당 레코드의 고유 식별자
 - ITEMID: 아이템의 고유 식별자
 - LABEL: 아이템의 이름
 - ABBREVIATION: 아이템의 약어
 - DBSOURCE: 데이터 소스의 이름
 - LINKSTO: 다른 테이블과의 관계를 표현하는데 사용될 수 있는 테이블의 이름
 - CATEGORY: 아이템의 카테고리
 - UNITNAME: 아이템에 대한 측정 단위의 이름
 - PARAM_TYPE: 아이템의 유형
 - CONCEPTID: SNOMED CT 등의 표준 의학 용어 체계에서 해당 아이템에 대한 개념 ID

In [182]:
df = pd.read_csv("/data/PUBLIC_DATA/MIMIC-III/D_ITEMS.csv")

In [183]:
# 1. ChatGPT에게 물어본 호흡기 관련 LABEL의 ITEMID
L_list = ["Arterial Blood Gas", "Blood Gas Analysis", "Capillary Blood Gas", "Central Venous Blood Gas", "Chest Tube Output", "Mechanical Ventilation", "Nasal Cannula Flow Rate",
        "Oxygen Saturation", "Peak Inspiratory Pressure", "Peak End-Expiratory Pressure", "Peak Flow", "Positive End-Expiratory Pressure", "Respiratory Rate", "Sputum", "Tracheostomy", 
        "Ventilation Fraction", "Respiratory", "Breathing", "Ventilation", "Pulmonary", "Spirometry", "Capnography", "Oximetry"]

df['LABEL'] = df['LABEL'].str.lower() #소문자로 변경
df1 = df[df['LABEL'].isin([x.lower() for x in L_list])]
ID1 = df1["ITEMID"].tolist()
print("1.", len(ID1))

# 2. Category가 Respiratory인 ITEMID 
df['CATEGORY'] = df['CATEGORY'].str.lower() #소문자로 변경
df2 = df[df['CATEGORY']=="respiratory"]
ID2 = df2["ITEMID"].tolist()
print("2.", len(ID2))

# 3. ID1, ID2 합치기
ID_list = ID1+ID2
print("3.", len(ID_list))


# 4. ID_list에 해당한는 data 확인
df = df[df["ITEMID"].isin(ID_list)]
df.drop(columns=["ROW_ID", "ABBREVIATION", "DBSOURCE", "LINKSTO"], inplace=True)
df

1. 6
2. 134
3. 140

,ITEMID,LABEL,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
176,530,peak flow,NaN,NaN,NaN,NaN
263,618,respiratory rate,NaN,NaN,NaN,NaN
4258,7135,peak flow,NaN,NaN,NaN,NaN
7074,45151,pulmonary,free form intake,NaN,NaN,NaN
8767,227130,trach care,respiratory,NaN,Checkbox,NaN
...,...,...,...,...,...,...
12413,223835,inspired o2 fraction,respiratory,None,Numeric,NaN
12414,223836,airway type,respiratory,NaN,Text,NaN
12415,223837,ett size (id),respiratory,NaN,Text,NaN
12416,223838,ett location,respiratory,NaN,Text,NaN
12417,225278,ett route,respiratory,NaN,Text,NaN

#### 1. 실험실 검사 데이터 추출
-> LABEVENTS(0개), OUTPUTEVENTS(0개), MICROBIOLOGYEVENTS(99,887개)

##### 1-1. LABEVENTS에서 필요한 ITEM 선정
-> LABEVENTS에서 ITEMID에 해당하는 data extract(총 0개)

LABEVENTS Table Column 설명
 - ROW_ID: LABEVENTS 테이블 내에서 고유한 식별자입니다.
 - SUBJECT_ID: 환자의 고유 식별자입니다. 이 값은 SUBJECTS 테이블의 SUBJECT_ID와 동일합니다.
 - HADM_ID: LABEVENTS 테이블에 대한 환자의 입원 고유 식별자입니다. 이 값은 ADMISSIONS 테이블의 HADM_ID와 동일합니다.
 - ITEMID: 검사 결과를 식별하는 고유한 식별자입니다. 이 값은 D_ITEMS 테이블의 ITEMID와 연결됩니다.
 - CHARTTIME: 검사 결과를 기록한 시간입니다. 이 값은 DATETIME 형식으로 저장됩니다.
 - VALUE: 검사 결과 값입니다. 예를 들어, 혈액 검사에서는 헤모글로빈 농도가 될 수 있습니다.
 - VALUEUOM: 검사 결과 값의 단위입니다. 예를 들어, 혈액 검사에서는 g/dL (그램/데시리터)가 될 수 있습니다.
 - FLAG: 검사 결과에 대한 특이사항을 나타내는 플래그입니다. 이 칼럼은 옵션입니다.

In [196]:
df = pd.read_csv("/data/PUBLIC_DATA/MIMIC-III/LABEVENTS.csv")

In [197]:
df = df[df["ITEMID"].isin(ID_list)]
df

Empty DataFrame
Columns: [ROW_ID, SUBJECT_ID, HADM_ID, ITEMID, CHARTTIME, VALUE, VALUENUM, VALUEUOM, FLAG]
Index: []

##### 1-2. OUTPUTEVENT에서 필요한 ITEM 선정
-> OUTPUTEVENTS에서 ITEMID에 해당하는 data extract(총 0개)

OUTPUTEVENT Table Column 설명
 - ROW_ID: 행(row)의 고유 식별자
 - SUBJECT_ID: 환자의 고유 식별자
 - HADM_ID: 환자가 입원한 병원의 고유 식별자
 - ICUSTAY_ID: 환자가 입원한 중환자실의 고유 식별자
 - CHARTTIME: 측정 시각
 - ITEMID: 측정 항목의 고유 식별자
 - VALUE: 측정 값
 - VALUEUOM: 측정 값의 단위
 - STORETIME: 기록 시각
 - CGID: 기록한 의료진의 고유 식별자
 - STOPPED: 측정이 중지된 시각
 - NEWBOTTLE: 새로운 병이 사용되었는지 여부
 - ISERROR: 측정값이 정상적인 값이 아니었는지 여부

In [198]:
df = pd.read_csv("/data/PUBLIC_DATA/MIMIC-III/OUTPUTEVENTS.csv")

In [199]:
df = df[df["ITEMID"].isin(ID_list)]
df

Empty DataFrame
Columns: [ROW_ID, SUBJECT_ID, HADM_ID, ICUSTAY_ID, CHARTTIME, ITEMID, VALUE, VALUEUOM, STORETIME, CGID, STOPPED, NEWBOTTLE, ISERROR]
Index: []

##### 1-3. MICROBIOLOGYEVENTS에서 필요한 ITEM 선정
-> MICROBIOLOGYEVENTS에서 ITEMID에 해당하는 data extract(총 99,887개)

MICROBIOLOGYEVENTS Table Column 설명
 - ROW_ID: 칼럼 데이터의 고유한 식별자 (integer)
 - SUBJECT_ID: 환자 고유 식별자 (integer)
 - HADM_ID: 환자가 입원한 입원 고유 식별자 (integer)
 - CHARTDATE: 검사 결과가 기록된 날짜 (date)
 - CHARTTIME: 검사 결과가 기록된 시간 (timestamp)
 - SPEC_ITEMID: 검사한 생물학적 검체의 종류에 대한 코드 (integer)
 - SPEC_TYPE_DESC: 검사한 생물학적 검체의 종류에 대한 설명 (string)
 - ORG_ITEMID: 검출된 균주에 대한 코드 (integer)
 - ORG_NAME: 검출된 균주에 대한 이름 (string)
 - ISOLATE_NUM: 분리된 균주의 개수 (integer)
 - AB_ITEMID: 검출된 항생제에 대한 코드 (integer)
 - AB_NAME: 검출된 항생제에 대한 이름 (string)
 - DILUTION_TEXT: 검출된 항생제의 MIC 값을 나타내는 문자열 (string)
 - DILUTION_COMPARISON: MIC 값을 비교하기 위해 사용된 연산자 (string)
 - INTERPRETATION: MIC 값을 해석한 결과 (string)

In [200]:
df = pd.read_csv("/data/PUBLIC_DATA/MIMIC-III/MICROBIOLOGYEVENTS.csv")
ID_list = [float(x) for x in ID_list] #SPEC_ITEMID에서 ITEM을 추출하기 위해 형변환 진행

In [201]:
df = df[df[["SPEC_ITEMID", "ORG_ITEMID", "AB_ITEMID"]].isin(ID_list).any(axis=1)]
df

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,SPEC_ITEMID,SPEC_TYPE_DESC,ORG_ITEMID,ORG_NAME,ISOLATE_NUM,AB_ITEMID,AB_NAME,DILUTION_TEXT,DILUTION_COMPARISON,DILUTION_VALUE,INTERPRETATION
1,745,96,170324,2156-04-20 00:00:00,2156-04-20 13:10:00,70062.0,SPUTUM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,749,96,170324,2156-04-21 00:00:00,2156-04-21 14:00:00,70062.0,SPUTUM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,753,101,175533,2196-09-27 00:00:00,2196-09-27 00:00:00,70062.0,SPUTUM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,755,101,175533,2196-09-28 00:00:00,2196-09-28 20:50:00,70062.0,SPUTUM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,762,101,175533,2196-10-01 00:00:00,NaN,70062.0,SPUTUM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
631663,629933,99491,125502,2139-01-22 00:00:00,2139-01-22 12:30:00,70062.0,SPUTUM,80004.0,KLEBSIELLA PNEUMONIAE,1.0,90019.0,CIPROFLOXACIN,<=0.25,<=,0.0,S
631671,629941,99491,125502,2139-01-25 00:00:00,2139-01-25 07:20:00,70062.0,SPUTUM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
631678,629948,99491,125502,2139-02-01 00:00:00,2139-02-01 23:56:00,70062.0,SPUTUM,80004.0,KLEBSIELLA PNEUMONIAE,1.0,90018.0,CEFTRIAXONE,<=1,<=,1.0,S
631693,630903,99781,147562,2133-08-03 00:00:00,2133-08-03 18:14:00,70062.0,SPUTUM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
631713,630923,99783,126090,2125-11-04 00:00:00,2125-11-04 18:27:00,70062.0,SPUTUM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### 2. 환자와 실험실 검사 데이터 매칭

MICROBIOLOGYEVENTS Table Column 설명
 - ROW_ID: 칼럼 데이터의 고유한 식별자 (integer)
 - SUBJECT_ID: 환자 고유 식별자 (integer)
 - HADM_ID: 환자가 입원한 입원 고유 식별자 (integer)
 - CHARTDATE: 검사 결과가 기록된 날짜 (date)
 - CHARTTIME: 검사 결과가 기록된 시간 (timestamp)
 - SPEC_ITEMID: 검사한 생물학적 검체의 종류에 대한 코드 (integer)
 - SPEC_TYPE_DESC: 검사한 생물학적 검체의 종류에 대한 설명 (string)
 - ORG_ITEMID: 검출된 균주에 대한 코드 (integer)
 - ORG_NAME: 검출된 균주에 대한 이름 (string)
 - ISOLATE_NUM: 분리된 균주의 개수 (integer)
 - AB_ITEMID: 검출된 항생제에 대한 코드 (integer)
 - AB_NAME: 검출된 항생제에 대한 이름 (string)
 - DILUTION_TEXT: 검출된 항생제의 MIC 값을 나타내는 문자열 (string)
 - DILUTION_COMPARISON: MIC 값을 비교하기 위해 사용된 연산자 (string)
 - INTERPRETATION: MIC 값을 해석한 결과 (string)

In [205]:
# MICROBIOLOGYEVENTS에서 추출된 데이터 확인
m_df = df
m_df

       SUBJECT_ID         DOB
0             249  2075-03-13
1             250  2164-12-27
2             251  2090-03-15
3             252  2078-03-06
4             253  2089-11-26
...           ...         ...
46515       44089  2026-05-25
46516       44115  2124-07-27
46517       44123  2049-11-26
46518       44126  2076-07-25
46519       44128  2098-07-25

[46520 rows x 2 columns]

In [204]:
# respiratory 환자 사망률
print("호흡기 질환 환자의 사망률")
print("-"*59)
df = pd.read_csv("/data/PUBLIC_DATA/MIMIC-III/D_ICD_DIAGNOSES.csv")
word = ["respiratory", "Respiratory"]
disease = '|'.join(word)
df1 = df[df['LONG_TITLE'].str.contains(disease)]
disease_list = df1["ICD9_CODE"].to_list()
print("Respiratory 관련 ICD9 code 수: ", len(disease_list))
df = pd.read_csv("/data/PUBLIC_DATA/MIMIC-III/DIAGNOSES_ICD.csv")

def add(group):
    return ' '.join(group['ICD9_CODE'].fillna(""))

df1 = df.groupby(['SUBJECT_ID', 'HADM_ID']).apply(add).reset_index(name="ICD9_CODE")

mask = df1['ICD9_CODE'].str.contains('|'.join(disease_list), na=False)
df2 = df1[mask]

# 동일한 환자가 여러 번 입원한 경우 최초 입원 기록만 남기기
df = pd.read_csv("/data/PUBLIC_DATA/MIMIC-III/ADMISSIONS.csv")
df3 = df[["HADM_ID", "ADMITTIME", "DISCHTIME", "DEATHTIME"]]
df4 = pd.merge(df2, df3, on="HADM_ID")
df4['ADMITTIME'] = pd.to_datetime(df4['ADMITTIME'])
df4['DISCHTIME'] = pd.to_datetime(df4['DISCHTIME'])
df4['DEATHTIME'] = pd.to_datetime(df4['DEATHTIME'])
df5 = df4.sort_values(by=['SUBJECT_ID', 'ADMITTIME'], ascending=[True, True])
df5 = df5.drop_duplicates(subset=['SUBJECT_ID'], keep='first')
df5.sort_values(by=["SUBJECT_ID"], ascending=True, inplace=True)
print("Respiratory 환자 수(최초 입원): ", len(df5))

# LOS 추가 후 24H 이상 머문 환자 list만 저장
df5["TLOS"] = df5["DISCHTIME"] - df5["ADMITTIME"]
over = df5["TLOS"] >= "1days"
df6 = df5[over].sort_values(by=["TLOS"], ascending=True)
subject_list = df6["SUBJECT_ID"].to_list()
print("TLOS가 24H 이상인 환자 수: ", len(subject_list))

# 첫 입원 시점 연령을 구하기 위해 PATIENTS Table에서 DOB 칼럼 가져오기
df = pd.read_csv("/data/PUBLIC_DATA/MIMIC-III/PATIENTS.csv")
df = df[["SUBJECT_ID", "DOB"]]
df['DOB'] = pd.to_datetime(df['DOB']).dt.date
df7 = pd.merge(df6, df, on="SUBJECT_ID")

# 첫 입원 시점 연령 칼럼 생성
df7["AGE"] = ((df7["ADMITTIME"].dt.date - df7["DOB"])//365).dt.days

# 18세 이상 환자 선별
over = df7["AGE"] >= 18
df8 = df7[over].sort_values(by=["AGE"], ascending=True)
subject_list = df8["SUBJECT_ID"].to_list()

# 89세 이상 환자 제거
over = df8["AGE"] < 89
df9 = df8[over].sort_values(by=["AGE"], ascending=True)
final_list = df9["SUBJECT_ID"].to_list()
print("18세 이상 89세 미만 환자 수: ", len(final_list))

# DOA(Death or Alive): 사망했다면 사망까지 걸린 시간, 생존했다면 NaT 출력
for i in range(len(df9)):
    if df9["DEATHTIME"].iloc[i] != "NaT":
        df9["DOA"] = (df9["DEATHTIME"]-df9["ADMITTIME"])
    else:
        df9["DOA"] = "NaT"

df10 = df9[["SUBJECT_ID", "HADM_ID"]]
print("-"*59)
print("호흡기 질환 환자의 가공된 Admission table dataframe")
df10

호흡기 질환 환자의 사망률
-----------------------------------------------------------
Respiratory 관련 ICD9 code 수:  92
Respiratory 환자 수(최초 입원):  10329
TLOS가 24H 이상인 환자 수:  9932
18세 이상 89세 미만 환자 수:  7631
-----------------------------------------------------------
호흡기 질환 환자의 가공된 Admission table dataframe

      SUBJECT_ID  HADM_ID
6392       20936   157548
582        25600   122994
1012       79166   177249
3214       75775   101668
5057       26861   115381
...          ...      ...
6091       48806   116558
3008       19067   192309
2138       40370   199999
6524       47335   161669
3540       51871   157355

[7631 rows x 2 columns]